<footer class="s-footer">

    <div class="s-footer__main">
        <div class="row">
            
            <div class="col-six tab-full s-footer__about">
                    
                <h4>Hakkımızda</h4>

                <p>{{setting.aboutus|safe}}</p>

            </div> <!-- end s-footer__about -->

        </div>
    </div> <!-- end s-footer__main -->

    <div class="s-footer__bottom">
        <div class="row">

            <div class="col-six">
                <ul class="footer-social">
                    <li>
                        <a href="{{setting.facebook}}"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="{{setting.twitter}}"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="{{setting.instagram}}"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-six">
                <div class="s-footer__copyright">
                    <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <strong><a href="https://www.instagram.com/alp_emre_elmas/"> Alp Emre Elmas</a>&& <a href="https://www.instagram.com/nightman.413/" >Hüseyin Kaan Usta</a></strong> 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                </div>
            </div>
            
        </div>
    </div> <!-- end s-footer__bottom -->

    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>

</footer> <!-- end s-footer -->